* {
  box-sizing: border-box;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  background: url("https://us.123rf.com/450wm/crazyfahh/crazyfahh1802/crazyfahh180200032/94781742-basketball-seamless-pattern-background.jpg?ver=6");
}