.header {
    width: 100%;
    font-size: 2rem;
    color: #d98324;
    margin-bottom: 10px;
    text-align: center;
}

.header-nav {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 3px solid #d98324 !important;
    border-left: 3px solid #d98324 !important;
    border-right: 3px solid #d98324 !important;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
    background: black;
}

.title {
    text-align: center;
    font-size: 60px;
    font-family: 'Audiowide', cursive;
}

.scores {
    text-align: center;
}

.current-score {
    float: left;
    padding-left: 5%;
    font-family: 'Saira', sans-serif;
}

.top-score {
    float: right;
    padding-right: 5%;
    font-family: 'Saira', sans-serif;
}